#include "resource.h"

IDR_MAINMENU MENU
BEGIN
  POPUP "Control"
  BEGIN
    MENUITEM "Create", ID_CONTROL_CREATE
    MENUITEM "Destroy", ID_CONTROL_DESTROY
  END
  POPUP "Browse"
  BEGIN
    MENUITEM "Back", ID_BROWSE_BACK
    MENUITEM "Forward", ID_BROWSE_FORWARD
    MENUITEM "Refresh", ID_BROWSE_REFRESH
  END
  POPUP "Debug"
  BEGIN
    MENUITEM "Dump info", ID_DEBUG_DUMPINFO
    MENUITEM "OleDraw", ID_DEBUG_OLEDRAW
    MENUITEM "Capture", ID_DEBUG_CAPTURE
  END
  POPUP "Options"
  BEGIN
    MENUITEM "AutoCapture", ID_OPTIONS_AUTOCAPTURE
  END
END
