#include "resource.h"

IDR_MAINMENU MENU
BEGIN
  POPUP "Browse"
  BEGIN
    MENUITEM "Back", ID_BROWSE_BACK
    MENUITEM "Forward", ID_BROWSE_FORWARD
    MENUITEM "Refresh", ID_BROWSE_REFRESH
  END
  POPUP "Debug"
  BEGIN
    MENUITEM "Dump info", ID_DEBUG_DUMPINFO
    MENUITEM "Sceenshot", ID_DEBUG_SCREENSHOT
  END
  POPUP "Options"
  BEGIN
    MENUITEM "AutoCapture", ID_OPTIONS_AUTOCAPTURE
  END
END
